{% include 'navbar.html' %}
<div class="Frame1" style="width: 1944px; height: 969px; position: relative; background: white">
    <div class="FormBookingHealthcareServices"
        style="width: 1377px; height: 879px; left: 283px; top: 45px; position: absolute">
        <div class="Rectangle5"
            style="width: 1377px; height: 348.87px; left: 0px; top: 0px; position: absolute; background: #6B8CE1"></div>
        <div class="Group" style="width: 1157.38px; height: 94.27px; left: 66.62px; top: 138px; position: absolute">
            <div class="Rectangle38"
                style="width: 273.52px; height: 33.70px; left: 0px; top: 60.57px; position: absolute; background: white">
            </div>
            <div class="Rectangle38"
                style="width: 273.52px; height: 33.70px; left: 317.41px; top: 60.57px; position: absolute; background: white">
            </div>
            <div class="Tanggal" style="width: 315px; height: 94.27px; left: 645.38px; top: 0px; position: absolute">
                <div class="Jam"
                    style="width: 282px; height: 1px; left: 0px; top: 0px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                    Jam</div>
                <div class="Group21"
                    style="width: 314.59px; height: 38.27px; left: 0.41px; top: 56px; position: absolute">
                    <div class="Rectangle5"
                        style="width: 186.53px; height: 37.35px; left: 0px; top: 0.93px; position: absolute; background: white">
                    </div>
                    <div class="30"
                        style="width: 282px; height: 1px; left: 32.59px; top: 0px; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                        18 . 30</div>
                </div>
            </div>
            <div class="Jam" style="width: 288.23px; height: 94.27px; left: 869.15px; top: 0px; position: absolute">
                <div class="Tanggal"
                    style="width: 282px; height: 1px; left: 0.23px; top: 0px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                    Tanggal</div>
                <div class="Group22"
                    style="width: 288.23px; height: 37.35px; left: 0px; top: 56.93px; position: absolute">
                    <div class="Rectangle5"
                        style="width: 186.53px; height: 37.35px; left: 0px; top: 0px; position: absolute; background: white">
                    </div>
                    <div class="0324"
                        style="width: 282px; height: 1px; left: 6.23px; top: 0.07px; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                        29-03-24</div>
                </div>
            </div>
        </div>
        <div class="PilihanServices" style="width: 454px; height: 303px; left: 67px; top: 366px; position: absolute">
            <div class="OpsiKe1" style="width: 336.11px; height: 48px; left: 34.89px; top: 48px; position: absolute">
                <div class="Ellipse2"
                    style="width: 28.21px; height: 30.97px; left: 0px; top: 4.09px; position: absolute; background: black; border-radius: 9999px; border: 1px black solid">
                </div>
                <div class="Vaksinasi"
                    style="width: 285px; height: 48px; left: 51.11px; top: 0px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                    Vaksinasi</div>
            </div>
            <div class="OpsiKe2" style="width: 336.11px; height: 48px; left: 35px; top: 100px; position: absolute">
                <div class="Ellipse2"
                    style="width: 28.21px; height: 30.97px; left: 0px; top: 4.09px; position: absolute; background: white; border-radius: 9999px; border: 1px black solid">
                </div>
                <div class="Sterilisasi"
                    style="width: 285px; height: 48px; left: 51.11px; top: 0px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                    Sterilisasi</div>
            </div>
            <div class="OpsiKe3" style="width: 336.11px; height: 48px; left: 35px; top: 151px; position: absolute">
                <div class="Ellipse2"
                    style="width: 28.21px; height: 30.97px; left: 0px; top: 4.09px; position: absolute; background: white; border-radius: 9999px; border: 1px black solid">
                </div>
                <div class="Netralisasi"
                    style="width: 285px; height: 48px; left: 51.11px; top: 0px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                    Netralisasi</div>
            </div>
            <div class="OpsiKe4" style="width: 336.11px; height: 48px; left: 35px; top: 203px; position: absolute">
                <div class="Ellipse2"
                    style="width: 28.21px; height: 30.97px; left: 0px; top: 4.09px; position: absolute; background: white; border-radius: 9999px; border: 1px black solid">
                </div>
                <div class="Operasi"
                    style="width: 285px; height: 48px; left: 51.11px; top: 0px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                    Operasi</div>
            </div>
            <div class="OpsiKe5" style="width: 336.11px; height: 48px; left: 35px; top: 255px; position: absolute">
                <div class="Ellipse2"
                    style="width: 28.21px; height: 30.97px; left: 0px; top: 4.09px; position: absolute; background: white; border-radius: 9999px; border: 1px black solid">
                </div>
                <div class="Konsultasi"
                    style="width: 285px; height: 48px; left: 51.11px; top: 0px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                    Konsultasi</div>
            </div>
            <div class="PilihLayananKesehatan"
                style="width: 454px; height: 52px; left: 0px; top: 0px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                Pilih Layanan Kesehatan</div>
        </div>
        <div class="PilihanPickupDeliveryServices"
            style="width: 397px; height: 166px; left: 67px; top: 690px; position: absolute">
            <div class="OpsiKe1" style="width: 333.11px; height: 48px; left: 34.89px; top: 70px; position: absolute">
                <div class="Ellipse2"
                    style="width: 28.21px; height: 30.97px; left: 0px; top: 4.23px; position: absolute; background: black; border-radius: 9999px; border: 1px black solid">
                </div>
                <div class="PickUp"
                    style="width: 285px; height: 48px; left: 48.11px; top: 0px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                    Pick Up</div>
            </div>
            <div class="OpsiKe2" style="width: 333.11px; height: 48px; left: 35px; top: 118px; position: absolute">
                <div class="Ellipse2"
                    style="width: 28.21px; height: 30.97px; left: 0px; top: 4.23px; position: absolute; background: white; border-radius: 9999px; border: 1px black solid">
                </div>
                <div class="Delivery"
                    style="width: 285px; height: 48px; left: 48.11px; top: 0px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                    Delivery</div>
            </div>
            <div class="PilihOpsiPengiriman"
                style="width: 397px; height: 47px; left: 0px; top: 0px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                Pilih opsi pengiriman</div>
        </div>
        <div class="DeskripsiLayanan"
            style="width: 736.79px; height: 201.40px; left: 612px; top: 443.60px; position: absolute">
            <div class="LowfiImage"
                style="width: 436.53px; height: 176.71px; left: 300.25px; top: 0px; position: absolute; background: white">
                <div class="Rectangle"
                    style="width: 436.53px; height: 176.71px; left: 0px; top: 0px; position: absolute; background: #E1E1E1; border: 3px black solid">
                </div>
                <div class="Rectangle"
                    style="width: 436.53px; height: 176.71px; left: 0px; top: 0px; position: absolute; background: #E1E1E1; border: 3px black solid">
                </div>
                <div class="Line"
                    style="width: 469.92px; height: 0px; left: 0px; top: 2.60px; position: absolute; transform: rotate(21.72deg); transform-origin: 0 0; border: 3px black solid">
                </div>
                <div class="Line"
                    style="width: 470.94px; height: 0px; left: 436.53px; top: 0px; position: absolute; transform: rotate(157.96deg); transform-origin: 0 0; border: 3px black solid">
                </div>
            </div>
            <div class="LayananVaksinasiDiCatSPetshopMenyediakanPerlindunganKesehatanOptimalBagiHewanPeliharaanAndaDenganVaksinasiRutinYangDilakukanOlehTenagaProfesionalKamiMemastikanSetiapHewanMendapatkanVaksinYangSesuaiUntukMencegahPenyakitUmumDanMenjagaKesejahteraanMereka"
                style="width: 300px; height: 155px; left: 0px; top: 46.40px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                Layanan vaksinasi di CAT’s Petshop menyediakan perlindungan kesehatan optimal bagi hewan peliharaan Anda
                dengan vaksinasi rutin yang dilakukan oleh tenaga profesional. Kami memastikan setiap hewan mendapatkan
                vaksin yang sesuai untuk mencegah penyakit umum dan menjaga kesejahteraan mereka.</div>
            <div class="Vaksinasi"
                style="width: 285px; height: 48px; left: 0px; top: 2.40px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                Vaksinasi</div>
        </div>
        <div class="Group" style="width: 200.63px; height: 63.76px; left: 1014.92px; top: 815.24px; position: absolute">
            <div class="Rectangle4"
                style="width: 200.63px; height: 63.76px; left: 0px; top: 0px; position: absolute; background: white; border: 3px black solid">
            </div>
            <div class="Kirim"
                style="width: 96px; height: 46px; left: 49.08px; top: 7.76px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                Kirim</div>
        </div>
    </div>
    <div class="FormReservasi"
        style="width: 489px; height: 25px; left: 348px; top: 118px; position: absolute; color: black; font-size: 48px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Form Reservasi</div>
    <div class="PetId"
        style="width: 282px; height: 1px; left: 350px; top: 184px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        pet_id</div>
    <div class="NamaPasien"
        style="width: 282px; height: 1px; left: 667px; top: 183px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Nama Pasien</div>
</div>
{% include 'footer.html' %}