{% include 'navbar.html' %}

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Layanan Kesehatan</h1>
</div>

<div class="Frame2" style="width: 1544px; height: 1305px; position: relative; background: white">
    <div class="InformasiHealtchcareServices"
        style="width: 1178.94px; height: 1142px; left: 183px; top: 82px; position: absolute">
        <div class="LayananKe4" style="width: 1173.94px; height: 170px; left: 5px; top: 658px; position: absolute">
            <div class="LowfiImage"
                style="width: 474.94px; height: 159.01px; left: 699px; top: 0px; position: absolute; background: white">
                <div class="Rectangle"
                    style="width: 474.94px; height: 159.01px; left: 0px; top: 0px; position: absolute; background: #E1E1E1; border: 3px black solid">
                </div>
                <div class="Rectangle"
                    style="width: 474.94px; height: 159.01px; left: 0px; top: 0px; position: absolute; background: #E1E1E1; border: 3px black solid">
                </div>
                <div class="Line"
                    style="width: 500.08px; height: 0px; left: 0px; top: 2.34px; position: absolute; transform: rotate(18.24deg); transform-origin: 0 0; border: 3px black solid">
                </div>
                <div class="Line"
                    style="width: 500.85px; height: 0px; left: 474.94px; top: 0px; position: absolute; transform: rotate(161.49deg); transform-origin: 0 0; border: 3px black solid">
                </div>
            </div>
            <div class="Teks" style="width: 566px; height: 168px; left: 0px; top: 2px; position: absolute">
                <div class="CatSPetshopMenyediakanBerbagaiLayananOperasiHewanDenganFasilitasLengkapDanTeknologiCanggihDokterHewanKamiSiapMenanganiOperasiDariYangSederhanaHinggaKompleksMemastikanHewanPeliharaanAndaMendapatkanPerawatanTerbaik"
                    style="width: 566px; height: 126px; left: 0px; top: 42px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                    CAT’s Petshop menyediakan berbagai layanan operasi hewan dengan fasilitas lengkap dan teknologi
                    canggih. Dokter hewan kami siap menangani operasi dari yang sederhana hingga kompleks, memastikan
                    hewan peliharaan Anda mendapatkan perawatan terbaik.</div>
                <div class="LayananOperasi"
                    style="width: 311px; height: 41px; left: 0px; top: 0px; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                    Layanan Operasi</div>
            </div>
        </div>
        <div class="LayananKe3" style="width: 1114px; height: 164px; left: 0px; top: 476px; position: absolute">
            <div class="LowfiImage"
                style="width: 474.94px; height: 159.01px; left: 0px; top: 0.48px; position: absolute; background: white">
                <div class="Rectangle"
                    style="width: 474.94px; height: 159.01px; left: 0px; top: 0px; position: absolute; background: #E1E1E1; border: 3px black solid">
                </div>
                <div class="Line"
                    style="width: 500.08px; height: 0px; left: 0px; top: 2.34px; position: absolute; transform: rotate(18.24deg); transform-origin: 0 0; border: 3px black solid">
                </div>
                <div class="Line"
                    style="width: 500.85px; height: 0px; left: 474.94px; top: 0px; position: absolute; transform: rotate(161.49deg); transform-origin: 0 0; border: 3px black solid">
                </div>
            </div>
            <div class="Teks" style="width: 566px; height: 164px; left: 548px; top: 0px; position: absolute">
                <div class="LayananNetralisasiKamiMemberikanSolusiKemanusiaanUntukMengontrolPopulasiHewanPeliharaanDenganProsedurYangCepatDanMinimRisikoKamiMemastikanProsesIniDilakukanDenganPenuhPerhatianTerhadapKesejahteraanHewan"
                    style="width: 566px; height: 126px; left: 0px; top: 38px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                    Layanan netralisasi kami memberikan solusi kemanusiaan untuk mengontrol populasi hewan peliharaan
                    dengan prosedur yang cepat dan minim risiko. Kami memastikan proses ini dilakukan dengan penuh
                    perhatian terhadap kesejahteraan hewan.</div>
                <div class="LayananNetralisasi"
                    style="width: 311px; height: 41px; left: 0px; top: 0px; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                    Layanan Netralisasi</div>
            </div>
        </div>
        <div class="LayananKe2" style="width: 1173.94px; height: 164px; left: 5px; top: 275px; position: absolute">
            <div class="LowfiImage"
                style="width: 474.94px; height: 159.01px; left: 699px; top: 0px; position: absolute; background: white">
                <div class="Rectangle"
                    style="width: 474.94px; height: 159.01px; left: 0px; top: 0px; position: absolute; background: #E1E1E1; border: 3px black solid">
                </div>
                <div class="Line"
                    style="width: 500.08px; height: 0px; left: 0px; top: 2.34px; position: absolute; transform: rotate(18.24deg); transform-origin: 0 0; border: 3px black solid">
                </div>
                <div class="Line"
                    style="width: 500.85px; height: 0px; left: 474.94px; top: 0px; position: absolute; transform: rotate(161.49deg); transform-origin: 0 0; border: 3px black solid">
                </div>
            </div>
            <div class="Teks" style="width: 566px; height: 164px; left: 0px; top: 0px; position: absolute">
                <div class="LayananSterilisasiDiCatSPetshopMenawarkanProsedurSterilYangAmanDanEfektifUntukMencegahReproduksiHewanPeliharaanAndaDilakukanOlehDokterHewanBerpengalamanSterilisasiMembantuMengurangiRisikoPenyakitDanMasalahPerilaku"
                    style="width: 566px; height: 126px; left: 0px; top: 38px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                    Layanan sterilisasi di CAT’s Petshop menawarkan prosedur steril yang aman dan efektif untuk mencegah
                    reproduksi hewan peliharaan Anda. Dilakukan oleh dokter hewan berpengalaman, sterilisasi membantu
                    mengurangi risiko penyakit dan masalah perilaku.</div>
                <div class="LayananSterilisasi"
                    style="width: 311px; height: 41px; left: 0px; top: 0px; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                    Layanan Sterilisasi</div>
            </div>
        </div>
        <div class="LayananKe1"
            style="width: 1167.88px; height: 181.28px; left: 5.12px; top: 93.72px; position: absolute">
            <div class="LowfiImage"
                style="width: 474.94px; height: 159.01px; left: 0px; top: 0px; position: absolute; background: white">
                <div class="Rectangle"
                    style="width: 474.94px; height: 159.01px; left: 0px; top: 0px; position: absolute; background: #E1E1E1; border: 3px black solid">
                </div>
                <div class="Line"
                    style="width: 500.08px; height: 0px; left: 0px; top: 2.34px; position: absolute; transform: rotate(18.24deg); transform-origin: 0 0; border: 3px black solid">
                </div>
                <div class="Line"
                    style="width: 500.85px; height: 0px; left: 474.94px; top: 0px; position: absolute; transform: rotate(161.49deg); transform-origin: 0 0; border: 3px black solid">
                </div>
            </div>
            <div class="Teks" style="width: 625px; height: 181px; left: 542.88px; top: 0.28px; position: absolute">
                <div class="LayananVaksinasiDiCatSPetshopMenyediakanPerlindunganKesehatanOptimalBagiHewanPeliharaanAndaDenganVaksinasiRutinYangDilakukanOlehTenagaProfesionalKamiMemastikanSetiapHewanMendapatkanVaksinYangSesuaiUntukMencegahPenyakitUmumDanMenjagaKesejahteraanMereka"
                    style="width: 625px; height: 140px; left: 0px; top: 41px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                    Layanan vaksinasi di CAT’s Petshop menyediakan perlindungan kesehatan optimal bagi hewan peliharaan
                    Anda dengan vaksinasi rutin yang dilakukan oleh tenaga profesional. Kami memastikan setiap hewan
                    mendapatkan vaksin yang sesuai untuk mencegah penyakit umum dan menjaga kesejahteraan mereka.</div>
                <div class="LayananVaksinasi"
                    style="width: 311px; height: 41px; left: 0px; top: 0px; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                    Layanan Vaksinasi</div>
            </div>
        </div>
        
        <div class="LayananKe5" style="width: 1114px; height: 164px; left: 5px; top: 864px; position: absolute">
            <div class="LowfiImage"
                style="width: 474.94px; height: 159.01px; left: 0px; top: 0.48px; position: absolute; background: white">
                <div class="Rectangle"
                    style="width: 474.94px; height: 159.01px; left: 0px; top: 0px; position: absolute; background: #E1E1E1; border: 3px black solid">
                </div>
                <div class="Line"
                    style="width: 500.08px; height: 0px; left: 0px; top: 2.34px; position: absolute; transform: rotate(18.24deg); transform-origin: 0 0; border: 3px black solid">
                </div>
                <div class="Line"
                    style="width: 500.85px; height: 0px; left: 474.94px; top: 0px; position: absolute; transform: rotate(161.49deg); transform-origin: 0 0; border: 3px black solid">
                </div>
            </div>
            <div class="Teks" style="width: 566px; height: 164px; left: 548px; top: 0px; position: absolute">
                <div class="LayananKonsultasiDiCatSPetshopMenawarkanSaranDanPanduanProfesionalMengenaiKesehatanNutrisiDanPerawatanHewanPeliharaanAndaDokterHewanKamiSiapMembantuMenjawabPertanyaanDanMemberikanSolusiTerbaikUntukKesejahteraanHewanKesayanganAnda"
                    style="width: 566px; height: 126px; left: 0px; top: 38px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                    Layanan konsultasi di CAT’s Petshop menawarkan saran dan panduan profesional mengenai kesehatan,
                    nutrisi, dan perawatan hewan peliharaan Anda. Dokter hewan kami siap membantu menjawab pertanyaan
                    dan memberikan solusi terbaik untuk kesejahteraan hewan kesayangan Anda.</div>
                <div class="LayananKonsultasi"
                    style="width: 311px; height: 41px; left: 0px; top: 0px; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                    Layanan Konsultasi</div>
            </div>
        </div>
        <div class="Group" style="width: 406px; height: 65px; position: absolute; left: 368px; top: 1077px;">
            <button class="BookingLayanan" onclick="window.location.href='/BookingHealthcareServices'"
                style="width: 406px; height: 65px; border: 3px black solid; background: white; color: black; font-size: 36px; font-family: Inter; font-weight: 400; text-align: center; cursor: pointer;">
                Booking Layanan
            </button>
        </div>
        
    </div>
</div>



{% include 'footer.html' %}