<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- Bootsrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</head>

<body>
  <!-- Navbar start -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="height: 80px;">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <div class="navbar-left">
        <a class="navbar-brand ms-5" href="#">Navbar</a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav" style="font-size: 18px;">
          <li class="nav-item" style="padding: 0px 15px;">
            <a class="nav-link" aria-current="page" href="/">Halaman Utama</a>
          </li>
          <li class="nav-item" style="padding: 0px 15px;">
            <a class="nav-link" href="/about">Tentang Kami</a>
          </li>
          <li class="nav-item dropdown" style="padding: 0px 15px;">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Produk
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="padding: 0px 15px;">
              <li><a class="dropdown-item" href="/food">Makanan</a></li>
              <li><a class="dropdown-item" href="/accessories">Aksesoris</a></li>
              <li>
              </li>
            </ul>
          </li>
          <li class="nav-item" style="padding: 0px 15px;">
            <a class="nav-link" href="/grooming">Grooming</a>
          </li>
          <li class="nav-item dropdown"  style="padding: 0px 15px;"> 
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Klinik
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Klinik</a></li>
              <li><a class="dropdown-item" href="#">Rekam Medis</a></li>
              <li><a class="dropdown-item" href="#">Layanan Kesehatan</a></li>
              <li>
              </li>
            </ul>
          </li>
        </ul>
        <button class="btn btn-outline-primary me-5" style="margin-left: 15px; padding: 5px 15px;">Login</button>
      </div>
    </div>
  </nav>
  <!-- Navbar end -->
</body>

</html>